version: "3.9"
services:
    backend:
        build: ./backend
        container_name: fastapi_app
        command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
        volumes:
            - ./backend:/app
        ports:
            - "8000:8000"
        environment:
            - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
        depends_on:
            - db

    frontend:
        build: ./frontend
        container_name: nextjs_app
        command: npm run dev
        volumes:
            - ./frontend:/app
        ports:
            - "3000:3000"
        environment:
            - NEXT_PUBLIC_API_URL=http://localhost:8000
        depends_on:
            - backend

    db:
        image: postgres:15
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: mydb
        ports:
            - "5432:5432"
        volumes:
            - pg_data:/var/lib/postgresql/data

    test_db:
        image: postgres:15
        container_name: postgres_test_db
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: test_db
        ports:
            - "5433:5432" # Inny port
        volumes:
            - test_pg_data:/var/lib/postgresql/data

volumes:
    pg_data:
    test_pg_data:
